root/vipservice/vip_service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.vip.server.xtrip.gridnine.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.vip.server.xtrip.gridnine.com/" name="GDSWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.vip.server.xtrip.gridnine.com/" schemaLocation="http://portbilet.ru:9090/vip/ws?xsd=1" />
</xsd:schema>
</types>
<message name="cancelBooking">
<part name="parameters" element="tns:cancelBooking" />
</message>
<message name="cancelBookingResponse">
<part name="parameters" element="tns:cancelBookingResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="searchFlights">
<part name="parameters" element="tns:searchFlights" />
</message>
<message name="searchFlightsResponse">
<part name="parameters" element="tns:searchFlightsResponse" />
</message>
<message name="searchRemarks">
<part name="parameters" element="tns:searchRemarks" />
</message>
<message name="searchRemarksResponse">
<part name="parameters" element="tns:searchRemarksResponse" />
</message>
<message name="createBooking">
<part name="parameters" element="tns:createBooking" />
</message>
<message name="createBookingResponse">
<part name="parameters" element="tns:createBookingResponse" />
</message>
<message name="reprice">
<part name="parameters" element="tns:reprice" />
</message>
<message name="repriceResponse">
<part name="parameters" element="tns:repriceResponse" />
</message>
<message name="issueTickets">
<part name="parameters" element="tns:issueTickets" />
</message>
<message name="issueTicketsResponse">
<part name="parameters" element="tns:issueTicketsResponse" />
</message>
<message name="loadBooking">
<part name="parameters" element="tns:loadBooking" />
</message>
<message name="loadBookingResponse">
<part name="parameters" element="tns:loadBookingResponse" />
</message>
<message name="createRefundExchangeRequest">
<part name="parameters" element="tns:createRefundExchangeRequest" />
</message>
<message name="createRefundExchangeRequestResponse">
<part name="parameters" element="tns:createRefundExchangeRequestResponse" />
</message>
<message name="searchMatrix">
<part name="parameters" element="tns:searchMatrix" />
</message>
<message name="searchMatrixResponse">
<part name="parameters" element="tns:searchMatrixResponse" />
</message>
<message name="selectFOP">
<part name="parameters" element="tns:selectFOP" />
</message>
<message name="selectFOPResponse">
<part name="parameters" element="tns:selectFOPResponse" />
</message>
<portType name="GDSWebService">
<operation name="cancelBooking">
<input message="tns:cancelBooking" />
<output message="tns:cancelBookingResponse" />
<fault message="tns:Exception" name="Exception" />
</operation>
<operation name="searchFlights">
<input message="tns:searchFlights" />
<output message="tns:searchFlightsResponse" />
<fault message="tns:Exception" name="Exception" />
</operation>
<operation name="searchRemarks">
<input message="tns:searchRemarks" />
<output message="tns:searchRemarksResponse" />
<fault message="tns:Exception" name="Exception" />
</operation>
<operation name="createBooking">
<input message="tns:createBooking" />
<output message="tns:createBookingResponse" />
<fault message="tns:Exception" name="Exception" />
</operation>
<operation name="reprice">
<input message="tns:reprice" />
<output message="tns:repriceResponse" />
<fault message="tns:Exception" name="Exception" />
</operation>
<operation name="issueTickets">
<input message="tns:issueTickets" />
<output message="tns:issueTicketsResponse" />
<fault message="tns:Exception" name="Exception" />
</operation>
<operation name="loadBooking">
<input message="tns:loadBooking" />
<output message="tns:loadBookingResponse" />
<fault message="tns:Exception" name="Exception" />
</operation>
<operation name="createRefundExchangeRequest">
<input message="tns:createRefundExchangeRequest" />
<output message="tns:createRefundExchangeRequestResponse" />
<fault message="tns:Exception" name="Exception" />
</operation>
<operation name="searchMatrix">
<input message="tns:searchMatrix" />
<output message="tns:searchMatrixResponse" />
<fault message="tns:Exception" name="Exception" />
</operation>
<operation name="selectFOP">
<input message="tns:selectFOP" />
<output message="tns:selectFOPResponse" />
<fault message="tns:Exception" name="Exception" />
</operation>
</portType>
<binding name="GDSWebServicePortBinding" type="tns:GDSWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="cancelBooking">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="searchFlights">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="searchRemarks">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="createBooking">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="reprice">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="issueTickets">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="loadBooking">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="createRefundExchangeRequest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="searchMatrix">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="selectFOP">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
</binding>
<service name="GDSWebServiceService">
<port name="GDSWebServicePort" binding="tns:GDSWebServicePortBinding">
<soap:address location="http://portbilet.ru:9090/vip/ws" />
</port>
</service>
</definitions>